<link href="../static/css/node.css" rel="stylesheet" type="text/css" />
<body bgcolor="#FFFFCE">
<table border="1" bordercolor="black" cellspacing="0px">
<tr align="middle">
<td width="70"><font size="2" color="black"><b>internal</b></font></td>
<td width="50"><font color="black"><b>time</b></font></td>
<td width="50"><font color="black"><b>request</b></font></td>
<td width="50"><font color="black"><b>response</b></font></td>
</tr>
{% if internal %}
{% for i in internal %}
<tr align="middle">
<td bgcolor="#acacac">{{i['ip']}}</td>
<td bgcolor="#acacac">{{i['time']}}</td>
{% if i['alert_level'] == 'critical' %}
<td bgcolor="#f88888">{{i['request']}}</td>
<td bgcolor="#f88888">{{i['response']}}</td>
{% elif i['alert_level'] == 'warning' %}
<td bgcolor="#ffff00">{{i['request']}}</td>
<td bgcolor="#ffff00">{{i['response']}}</td>
{% else %}
<td bgcolor="#88d066">{{i['request']}}</td>
<td bgcolor="#88d066">{{i['response']}}</td>
</tr>
{% endif %}
{% endfor %}
{% else %}
{% endif %}
</table>
</body>
