<html>
<head>
<title>hello</title>
<style type="text/css">

table{
    border-collapse: collapse;
    border: none;
    font-size:14px;
    font-family:"Courier New"
}
</style>
</head>
<body bgcolor="#FFFFCE">
<table border="1" bordercolor="black" cellspacing="0px">
<tr align="middle">
<td width="60"><font size="2" color="black"><b>time</b></font></td>
<td width="40"><font color="black"><b>CP<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>CP<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>CP<br>JYCGL</b></font></td>
<td width="40"><font color="black"><b>CNP<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>CNP<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>CNP<br>JYCGL</b></font></td>
<td width="40"><font color="black"><b>KJ<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>KJ<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>KJ<br>JYCGL</b></font></td>
<td width="40"><font color="black"><b>JQ<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>JQ<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>JQ<br>JYCGL</b></font></td>
<td width="40"><font color="black"><b>CUP_CP<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>CUP_CP<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>CUP_CP<br>JYCGL</b></font></td>
<td width="40"><font color="black"><b>CUP_CNP<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>CUP_CNP<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>CUP_CNP<br>JYCGL</b></font></td>
<td width="40"><font color="black"><b>CUP_KJ<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>CUP_KJ<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>CUP_KJ<br>JYCGL</b></font></td>
<td width="40"><font color="black"><b>CUP_JQ<br>CGBS</b></font></td>
<td width="40"><font color="black"><b>CUP_JQ<br>CZBS</b></font></td>
<td width="40"><font color="black"><b>CUP_JQ<br>JYCGL</b></font></td>
<td width="35"><font color="black"><b>RMB<br>CGBS</b></font></td>
<td width="30"><font color="black"><b>RMB<br>JYCGL</b></font></td>
<td width="30"><font color="black"><b>FZ<br>CGBS</b></font></td>
<td width="30"><font color="black"><b>FZ<br>JYCGL</b></font></td>
</tr>
<!--data-->
<tr align="middle">
<td bgcolor="#acacac">23 18:25</td>
<td bgcolor="#88d066">286</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">164</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">84</td>
<td bgcolor="#88d066">306</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">150</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">69</td>
<td bgcolor="#88d066">208</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">57</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">78</td>
<td bgcolor="#88d066">69</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">5</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">50</td>
<td bgcolor="#88d066">225</td>
<td bgcolor="#88d066">65</td>
<td bgcolor="#88d066">3</td>
<td bgcolor="#88d066">60</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">23 18:26</td>
<td bgcolor="#88d066">309</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">139</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">83</td>
<td bgcolor="#88d066">310</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">151</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">71</td>
<td bgcolor="#88d066">224</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">42</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">79</td>
<td bgcolor="#88d066">84</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">86</td>
<td bgcolor="#88d066">5</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">100</td>
<td bgcolor="#88d066">239</td>
<td bgcolor="#88d066">63</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#f88888">16</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">23 18:27</td>
<td bgcolor="#88d066">287</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">155</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">308</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">140</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">68</td>
<td bgcolor="#88d066">213</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">49</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">83</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">7</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">53</td>
<td bgcolor="#88d066">237</td>
<td bgcolor="#88d066">68</td>
<td bgcolor="#88d066">7</td>
<td bgcolor="#88d066">58</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">23 18:28</td>
<td bgcolor="#88d066">303</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">161</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">83</td>
<td bgcolor="#88d066">284</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">162</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">68</td>
<td bgcolor="#88d066">237</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">56</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">78</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">6</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">54</td>
<td bgcolor="#88d066">256</td>
<td bgcolor="#88d066">66</td>
<td bgcolor="#88d066">4</td>
<td bgcolor="#f88888">28</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">23 18:29</td>
<td bgcolor="#88d066">284</td>
<td bgcolor="#88d066">6</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">147</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">259</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">133</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">70</td>
<td bgcolor="#88d066">219</td>
<td bgcolor="#88d066">6</td>
<td bgcolor="#88d066">86</td>
<td bgcolor="#88d066">52</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">78</td>
<td bgcolor="#88d066">60</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#f88888">77</td>
<td bgcolor="#88d066">14</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">218</td>
<td bgcolor="#88d066">70</td>
<td bgcolor="#88d066">2</td>
<td bgcolor="#f88888">22</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">23 18:30</td>
<td bgcolor="#88d066">303</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">93</td>
<td bgcolor="#88d066">186</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">289</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">143</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">68</td>
<td bgcolor="#88d066">231</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">93</td>
<td bgcolor="#88d066">63</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">78</td>
<td bgcolor="#88d066">70</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">4</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">66</td>
<td bgcolor="#88d066">219</td>
<td bgcolor="#88d066">61</td>
<td bgcolor="#88d066">6</td>
<td bgcolor="#88d066">37</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">23 18:31</td>
<td bgcolor="#88d066">305</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">170</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">85</td>
<td bgcolor="#88d066">301</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">163</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">69</td>
<td bgcolor="#88d066">239</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">60</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">84</td>
<td bgcolor="#88d066">78</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">5</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">71</td>
<td bgcolor="#88d066">220</td>
<td bgcolor="#88d066">58</td>
<td bgcolor="#88d066">5</td>
<td bgcolor="#88d066">38</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">23 18:32</td>
<td bgcolor="#88d066">274</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">182</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">84</td>
<td bgcolor="#88d066">312</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">118</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">64</td>
<td bgcolor="#88d066">211</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">64</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">76</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">84</td>
<td bgcolor="#88d066">7</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">70</td>
<td bgcolor="#88d066">225</td>
<td bgcolor="#88d066">51</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#f88888">11</td>
</tr>

</table>
</body>
</html>

