
<html>
<head>
<title>hello</title>
<meta http-equiv="refresh" content="20">
<style type="text/css">
table{
    border-collapse: collapse;
    border: none;
    font-size:12px;
    font-family:"Courier New"
}
</style>
</head>
<body>
<table>
<table border="1" bordercolor="black" cellspacing="0px">
<tr align="middle">
<td width="60"><font size="2" color="black"><b>time</b></font></td>
<td width="20"><font color="black"><b>CP<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>CP<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>CP<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>CNP<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>CNP<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>CNP<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>CUP_CP<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>CUP_CP<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>CUP_CP<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>CUP_CNP<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>CUP_CNP<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>CUP_CNP<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>RMB<br>CGBS</b></font></td>
<td width="30"><font color="black"><b>RMB<br>JYCGL</b></font></td>
</tr>
<!--data-->
<tr align="middle">
<td bgcolor="#acacac">24 10:26</td>
<td bgcolor="#88d066">486</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">232</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">302</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">81</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">84</td>
<td bgcolor="#88d066">335</td>
<td bgcolor="#88d066">63</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:27</td>
<td bgcolor="#88d066">483</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">229</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">303</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">80</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">84</td>
<td bgcolor="#88d066">327</td>
<td bgcolor="#88d066">63</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:28</td>
<td bgcolor="#88d066">529</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">94</td>
<td bgcolor="#88d066">236</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">87</td>
<td bgcolor="#88d066">323</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">93</td>
<td bgcolor="#88d066">80</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">84</td>
<td bgcolor="#88d066">315</td>
<td bgcolor="#88d066">64</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:29</td>
<td bgcolor="#88d066">468</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">242</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">300</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">83</td>
<td bgcolor="#88d066">296</td>
<td bgcolor="#88d066">68</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:30</td>
<td bgcolor="#88d066">452</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">258</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">85</td>
<td bgcolor="#88d066">280</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">320</td>
<td bgcolor="#88d066">62</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:31</td>
<td bgcolor="#88d066">480</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">93</td>
<td bgcolor="#88d066">269</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">80</td>
<td bgcolor="#88d066">270</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">119</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">83</td>
<td bgcolor="#88d066">316</td>
<td bgcolor="#88d066">66</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:32</td>
<td bgcolor="#88d066">466</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">94</td>
<td bgcolor="#88d066">238</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">81</td>
<td bgcolor="#88d066">294</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">93</td>
<td bgcolor="#88d066">79</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">72</td>
<td bgcolor="#88d066">280</td>
<td bgcolor="#88d066">59</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:33</td>
<td bgcolor="#88d066">424</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">259</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">83</td>
<td bgcolor="#88d066">276</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">90</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">308</td>
<td bgcolor="#88d066">57</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:34</td>
<td bgcolor="#88d066">214</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">94</td>
<td bgcolor="#88d066">128</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">79</td>
<td bgcolor="#88d066">134</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">43</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">79</td>
<td bgcolor="#88d066">148</td>
<td bgcolor="#ffff00">46</td>
</tr>
</table>
<table>
<table border="1" bordercolor="black" cellspacing="0px">
<tr align="middle">
<td width="60"><font size="2" color="black"><b>time</b></font></td>
<td width="20"><font color="black"><b>KJ<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>KJ<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>KJ<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>JQ<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>JQ<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>JQ<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>CUP_KJ<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>CUP_KJ<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>CUP_KJ<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>CUP_JQ<br>CGBS</b></font></td>
<td width="15"><font color="black"><b>CUP_JQ<br>CZBS</b></font></td>
<td width="30"><font color="black"><b>CUP_JQ<br>JYCGL</b></font></td>
<td width="20"><font color="black"><b>FZ<br>CGBS</b></font></td>
<td width="30"><font color="black"><b>FZ<br>JYCGL</b></font></td>
</tr>
<!--second_data-->
<tr align="middle">
<td bgcolor="#acacac">24 10:26</td>
<td bgcolor="#88d066">344</td>
<td bgcolor="#88d066">1</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">201</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">65</td>
<td bgcolor="#88d066">80</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">85</td>
<td bgcolor="#88d066">8</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">80</td>
<td bgcolor="#88d066">7</td>
<td bgcolor="#88d066">35</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:27</td>
<td bgcolor="#88d066">329</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">198</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">68</td>
<td bgcolor="#88d066">100</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">11</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">100</td>
<td bgcolor="#88d066">5</td>
<td bgcolor="#88d066">38</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:28</td>
<td bgcolor="#88d066">338</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">91</td>
<td bgcolor="#88d066">209</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">72</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">93</td>
<td bgcolor="#88d066">11</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">100</td>
<td bgcolor="#88d066">10</td>
<td bgcolor="#88d066">62</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:29</td>
<td bgcolor="#88d066">304</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">186</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">68</td>
<td bgcolor="#88d066">76</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">84</td>
<td bgcolor="#88d066">13</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">81</td>
<td bgcolor="#88d066">9</td>
<td bgcolor="#88d066">50</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:30</td>
<td bgcolor="#88d066">352</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">93</td>
<td bgcolor="#88d066">165</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">64</td>
<td bgcolor="#88d066">107</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">96</td>
<td bgcolor="#88d066">12</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">85</td>
<td bgcolor="#88d066">3</td>
<td bgcolor="#88d066">37</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:31</td>
<td bgcolor="#88d066">335</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">92</td>
<td bgcolor="#88d066">211</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">66</td>
<td bgcolor="#88d066">82</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">89</td>
<td bgcolor="#88d066">8</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">53</td>
<td bgcolor="#88d066">8</td>
<td bgcolor="#88d066">50</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:32</td>
<td bgcolor="#88d066">353</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">172</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">64</td>
<td bgcolor="#88d066">110</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">7</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">63</td>
<td bgcolor="#88d066">2</td>
<td bgcolor="#f88888">16</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:33</td>
<td bgcolor="#88d066">343</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">88</td>
<td bgcolor="#88d066">201</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">68</td>
<td bgcolor="#88d066">86</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#f88888">79</td>
<td bgcolor="#88d066">9</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">75</td>
<td bgcolor="#88d066">2</td>
<td bgcolor="#f88888">16</td>
</tr>
<tr align="middle">
<td bgcolor="#acacac">24 10:34</td>
<td bgcolor="#88d066">137</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">82</td>
<td bgcolor="#88d066">80</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#ffff00">52</td>
<td bgcolor="#88d066">37</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#f88888">77</td>
<td bgcolor="#88d066">4</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#88d066">100</td>
<td bgcolor="#88d066">0</td>
<td bgcolor="#f88888">0</td>
</tr>
</table>
</body>
</html>

