
<html>
<head>
<title>全景监控</title>
<meta http-equiv="charset" content="utf-8" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<!--meta http-equiv="refresh" content="60"-->
<link href="./static/css/base.css" rel="stylesheet" type="text/css"/>
</head>
<body  bgcolor="#FFFFCE">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="8%"><img src="./static/images/logo.jpg" width="96" height="64" /></td>
<td width="25%" style="position:absolute; left:680px;top:15px"  class="blacktitle">CPS端到端全景监控图</td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="10px" background="./static/images/nav_all.jpg"><img width="3" height="10" /></td>
</tr>
</table>
<iframe style="position:absolute; left:1450px;top:25px" marginheight="0" marginwidth="0" height="22" width="190" frameborder="0" scrolling="no" src="./time.htm"></iframe>
<iframe style="position:absolute; left:140px;top:150px" marginheight="0" marginwidth="0" height="342" width="222" frameborder="0" scrolling="no" src="./entry.htm"></iframe>
<iframe style="position:absolute; left:362px;top:150px" marginheight="0" marginwidth="0" height="342" width="100" frameborder="0" scrolling="no" src="./channel.htm"></iframe>
<img style="position:absolute; left:460px;top:320px" src=./static/images/arrow_normal.jpg />
<iframe style="position:absolute; left:553px;top:90px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_tais_t.html"></iframe>
<iframe style="position:absolute; left:601px;top:90px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_tais_a.html"></iframe>
<iframe style="position:absolute; left:649px;top:90px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_tais_b.html"></iframe>
<iframe style="position:absolute; left:584px;top:299px" marginheight="0" allowtransparency="true" marginwidth="0" height="54" width="86" frameborder="0" scrolling="no" src="./tais.htm"></iframe>
<img style="position:absolute; left:665px;top:320px" src=./static/images/arrow_normal.jpg />
<iframe style="position:absolute; left:758px;top:90px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_mas_t.html"></iframe>
<iframe style="position:absolute; left:806px;top:90px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_mas_a.html"></iframe>
<iframe style="position:absolute; left:854px;top:90px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_mas_b.html"></iframe>
<iframe style="position:absolute; left:791px;top:299px" marginheight="0" allowtransparency="true" marginwidth="0" height="54" width="86" frameborder="0" scrolling="no" src="./mas.htm"></iframe>
<img style="position:absolute; left:873px;top:320px" src=./static/images/arrow_mas_normal.jpg />
<iframe style="position:absolute; left:964px;top:198px" marginheight="0" allowtransparency="true" marginwidth="0" height="100" width="50" frameborder="0" scrolling="no" src="./cps/ip_aps_t.html"></iframe>
<iframe style="position:absolute; left:1012px;top:198px" marginheight="0" allowtransparency="true" marginwidth="0" height="100" width="50" frameborder="0" scrolling="no" src="./cps/ip_aps_a.html"></iframe>
<iframe style="position:absolute; left:1060px;top:198px" marginheight="0" allowtransparency="true" marginwidth="0" height="100" width="50" frameborder="0" scrolling="no" src="./cps/ip_aps_b.html"></iframe>
<iframe style="position:absolute; left:997px;top:299px" marginheight="0" allowtransparency="true" marginwidth="0" height="54" width="86" frameborder="0" scrolling="no" src="./aps.htm"></iframe>
<img style="position:absolute; left:1079px;top:320px" src=./static/images/arrow_aps_normal.jpg />
<iframe style="position:absolute; left:1203px;top:204px" marginheight="0" marginwidth="0" height="242" width="220" frameborder="0" scrolling="no" src="./bgw.htm"></iframe>
<iframe style="position:absolute; left:1423px;top:204px" marginheight="0" marginwidth="0" height="242" width="180" frameborder="0" scrolling="no" src="./bank.htm"></iframe>
<iframe style="position:absolute; left:140px;top:520px" marginheight="0" marginwidth="0" height="190" width="1380" frameborder="0" scrolling="no" src="./alert.htm"></iframe>
<iframe style="position:absolute; left:140px;top:730px" marginheight="0" marginwidth="0" height="220" width="1380" frameborder="0" scrolling="no" src="./dbinfo_nv.html"></iframe>
