{% extends "base.html" %}
{% block content1 %}
<link href="./static/css/index.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content2 %}
<iframe id="test" style="position:absolute; left:430px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_tais_t.html"></iframe>
<iframe id="test" style="position:absolute; left:478px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_tais_a.html"></iframe>
<iframe id="test" style="position:absolute; left:526px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_tais_b.html"></iframe>
<iframe id="test" style="position:absolute; left:597px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_mas_t.html"></iframe>
<iframe id="test" style="position:absolute; left:645px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_mas_a.html"></iframe>
<iframe id="test" style="position:absolute; left:693px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_mas_b.html"></iframe>
<iframe id="test" style="position:absolute; left:770px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_aps_t.html"></iframe>
<iframe id="test" style="position:absolute; left:818px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_aps_a.html"></iframe>
<iframe id="test" style="position:absolute; left:866px;top:80px" height="210" width="65" frameborder="0" scrolling="no" src="./cps/ip_aps_b.html"></iframe>
<iframe style="position:absolute; left:40px;top:500px" marginheight="0" marginwidth="0" height="110" width="1300" frameborder="0" scrolling="no" src="./alert.htm"></iframe>
<br /><br /><br /><br />
<table>
<tr>
<td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
<td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
<td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
<td>&nbsp; &nbsp; &nbsp; &nbsp; </td>
<td><div class="border1">
<img class="img1" src={{images[0]}} />
<img class="img3" src={{images[1]}} />
<a href="./pos_machine.html"><img class="img3" src={{images[2]}} /></a>
<img class="img3" src={{images[3]}} />
<img class="img3" src={{images[4]}} />
</div></td>

<td><div class="border2">
<img class="img1" src={{images[5]}} />
<img class="img5" src={{images[5]}} />
<img class="img5" src={{images[5]}} />
<img class="img5" src={{images[5]}} />
<img class="img5" src={{images[5]}} />
</div></td>

<td><div class="border1">
<a href="./vpos.html"><img class="img1" src={{images[6]}} /></a>
<a href="./mgw.html"><img class="img3" src={{images[7]}} /></a>
<a href="./posp.html"><img class="img3" src={{images[8]}} /></a>
<a href="./internal.html"><img class="img3" src={{images[9]}} /></a>
<a href="./mbp.html"><img class="img3" src={{images[10]}} /></a>
</div></td>

<td><img src={{images[11]}} /></td>
<td><a href="./tais.html"><img src={{images[12]}} /></a></td>
<td><img src={{images[13]}} /></td>
<td><a href="./mas.html"><img src={{images[14]}} /></a></td>
<td><a href="./sla_mas.html"><img src={{images[15]}} /></a></td>
<td><a href="./aps.html"><img src={{images[16]}} /></a></td>
<td><a href="./sla_aps.html"><img src={{images[17]}} /></a></td>

<td><div class="border1">
<a href="./cups_cp.html"><img class="img1" src={{images[18]}} /></a>
<a href="./cups_cnp.html"><img class="img3" src={{images[19]}} /></a>
<a href="./cups_kj.html"><img class="img3" src={{images[20]}} /></a>
<a href="./icbc_sh_kj.html"><img class="img3" src={{images[21]}} /></a>
<a href="./abc_sz_kj.html"><img class="img3" src={{images[22]}} /></a>
</div></td>

<td><a href="./sla_bgw.html"><img src={{images[23]}} /></a></td>

<td><div class="border1">
<img class="img1" src={{images[24]}} />
<img class="img3" src={{images[25]}} />
<img class="img3" src={{images[26]}} />
<img class="img3" src={{images[27]}} />
<img class="img3" src={{images[28]}} />
</div></td>
</tr>
</table>
{% endblock %}
