<html>
<head>
<title>全景监控</title>
<meta http-equiv="charset" content="utf-8" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta http-equiv="refresh" content="30">
<link href="./static/css/base.css" rel="stylesheet" type="text/css"/>
</head>
<body  bgcolor="#FFFFCE">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="8%"><img src="./static/images/logo.jpg" width="96" height="64" /></td>
<td width="25%" style="position:absolute; left:780px;top:15px"  class="blacktitle">CPS端到端全景监控图</td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="10px" background="./static/images/nav_all.jpg"><img width="3" height="10" /></td>
</tr>
</table>
<iframe style="position:absolute; left:1650px;top:25px" marginheight="0" allowtransparency="true" marginwidth="0" height="22" width="190" frameborder="0" scrolling="no" src="./time.htm"></iframe>
<iframe style="position:absolute; left:240px;top:172px" marginheight="0" allowtransparency="true" marginwidth="0" height="342" width="222" frameborder="0" scrolling="no" src="./entry.htm"></iframe>
<iframe style="position:absolute; left:462px;top:172px" marginheight="0" allowtransparency="true" marginwidth="0" height="342" width="100" frameborder="0" scrolling="no" src="./channel.htm"></iframe>
<img style="position:absolute; left:565px;top:342px" src={{images[11]}} />
<iframe style="position:absolute; left:649px;top:100px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_tais_t.html"></iframe>
<iframe style="position:absolute; left:697px;top:100px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_tais_a.html"></iframe>
<iframe style="position:absolute; left:745px;top:100px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_tais_b.html"></iframe>
<iframe style="position:absolute; left:685px;top:322px" marginheight="0" allowtransparency="true" marginwidth="0" height="54" width="86" frameborder="0" scrolling="no" src="./tais.htm"></iframe>
<img style="position:absolute; left:770px;top:342px" src={{images[13]}} />
<iframe style="position:absolute; left:854px;top:100px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_mas_t.html"></iframe>
<iframe style="position:absolute; left:902px;top:100px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_mas_a.html"></iframe>
<iframe style="position:absolute; left:950px;top:100px" marginheight="0" allowtransparency="true" marginwidth="0" height="200" width="50" frameborder="0" scrolling="no" src="./cps/ip_mas_b.html"></iframe>
<iframe style="position:absolute; left:890px;top:322px" marginheight="0" allowtransparency="true" marginwidth="0" height="54" width="86" frameborder="0" scrolling="no" src="./mas.htm"></iframe>
<img style="position:absolute; left:975px;top:342px" src={{images[15]}} />
<iframe style="position:absolute; left:1062px;top:208px" marginheight="0" allowtransparency="true" marginwidth="0" height="100" width="50" frameborder="0" scrolling="no" src="./cps/ip_aps_t.html"></iframe>
<iframe style="position:absolute; left:1110px;top:208px" marginheight="0" allowtransparency="true" marginwidth="0" height="100" width="50" frameborder="0" scrolling="no" src="./cps/ip_aps_a.html"></iframe>
<iframe style="position:absolute; left:1158px;top:208px" marginheight="0" allowtransparency="true" marginwidth="0" height="100" width="50" frameborder="0" scrolling="no" src="./cps/ip_aps_b.html"></iframe>
<iframe style="position:absolute; left:1096px;top:322px" marginheight="0" allowtransparency="true" marginwidth="0" height="54" width="86" frameborder="0" scrolling="no" src="./aps.htm"></iframe>
<img style="position:absolute; left:1182px;top:342px" src={{images[17]}} />
<iframe style="position:absolute; left:1303px;top:226px" marginheight="0" allowtransparency="true" marginwidth="0" height="242" width="220" frameborder="0" scrolling="no" src="./bgw.htm"></iframe>
<iframe style="position:absolute; left:1523px;top:226px" marginheight="0" allowtransparency="true" marginwidth="0" height="242" width="180" frameborder="0" scrolling="no" src="./bank.htm"></iframe>
<iframe style="position:absolute; left:240px;top:540px" marginheight="0" allowtransparency="true" marginwidth="0" height="190" width="1380" frameborder="0" scrolling="no" src="./alert.htm"></iframe>
<iframe style="position:absolute; left:240px;top:750px" marginheight="0" allowtransparency="true" marginwidth="0" height="220" width="1380" frameborder="0" scrolling="no" src="http://sor.99bill.net/sor/am-monitor/monitor/multiple/dbinfo_nv.html"></iframe>
</body>
</html>
